<nav>
  <mat-toolbar color="primary">
    <img src="{{ logo }}" alt="logo" />
    <span>Taskly</span>
    <span class="spacer"></span>
    <ng-container *ngIf="isLogged">
      <button mat-button routerLink="/home">Strona główna</button>
      <button mat-button [matMenuTriggerFor]="menu">Zadania</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/create-task">Dodaj zadanie</button>
        <button mat-menu-item routerLink="/see-tasks">Lista zadań</button>
      </mat-menu>
      <button mat-button (click)="logout()">Wyloguj się</button>
    </ng-container>
    <ng-container *ngIf="!isLogged">
      <button mat-button routerLink="/sign-in">Zaloguj się</button>
      <button mat-button routerLink="/sign-up">Zarejestruj się</button>
    </ng-container>
  </mat-toolbar>
</nav>
