<main>
    <div class="login-container">
        <div class="login-part">
            <div class="inner-part">
                <div class="field-container">
                    <h2>Sign in</h2>
                </div>
                <div class="field-container">
                    <h5>and check your tasks</h5>
                </div>
                <div class="field-container">
                    <img src="assets/images/checklist.png" alt="checklist-img">
                </div>
            </div>
        </div>
        <div class="login-part">
            <div class="inner-part">
                <div class="field-container">
                    <h3>User login</h3>
                </div>
                <form [formGroup]="signIn" (ngSubmit)="ngSubmit()" class="needs-validation" novalidate>
                    <div class="field-container">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="loginUsername" name="username"
                                placeholder="Enter the username" required>
                            <mat-error *ngIf="usernameControl.hasError('required')">You need to pass
                                username</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="loginPassword" name="password" type="password"
                                placeholder="Enter the password" required>
                            <mat-error *ngIf="passwordControl.hasError('required')">You need to pass
                                password</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <button class="btn btn-success" type="submit">Sing in</button>
                    </div>
                </form>
                <div class="field-container">
                    <a routerLink="linkEnabled ? 'path' : null">
                        <span class="link-name">Forgot password?(Inactive)</span>
                    </a>
                    <a routerLink="/register">
                        <span class="link-name">Sign up?</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>