.container {}

.small-part {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.large-part {
    width: 100%;
    margin: 15px 0;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
}

.small-block {
    min-height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    float: left;
    margin: 5px 15px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
}

.block-text {
    float: left;
    width: 60%;
    text-align: center;
}

.block-img {
    float: left;
    width: 40%;
}

.block-img img {
    height: 128px;
}

.large-part button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(25, 35, 45, 1) 0%, rgba(9, 47, 83, 1) 100%);
    color: white;
}
.large-part button p{
    width: 80%;
}
.large-part button fa-icon{
    width: 20%;
}