.heard-section fa-icon {
    padding: 10px;
}
.welcome-block {
    display: flex;
    align-items: center;
}

.inner-block{
    flex: 1;
}

.welcome-block img {
    height: 200px;
}

.small-block {
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    margin: 10px 0;
}
.small-block h5{
    margin: 10px 0;
}
.small-block a{
    text-decoration: none;
}

.large-part {
    width: 100%;
    margin: 15px 0;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.45);
}

.large-part button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(25, 35, 45, 1) 0%, rgba(9, 47, 83, 1) 100%);
    color: white;
}
.large-part button p{
    width: 80%;
}
.large-part button fa-icon{
    width: 20%;
}
