.icon {
    margin-right: 10px;
}

.m-btn {
    width: 100%;
}

.m-text {
    color: black;
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  tr:hover {
    cursor: pointer;
    background: grey;
  }