<!-- <app-side-bar></app-side-bar> -->
<main>
    <div class="col-md-8 offset-md-2">
        <h3 style="text-align: center; margin: 15px;">Add new task</h3>
        <form [formGroup]="createTask" (ngSubmit)="ngSubmit()" class="needs-validation" novalidate>
            <div class="form-group">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Task name</mat-label>
                    <input matInput formControlName="taskName" name="taskName" placeholder="Enter the name" required>
                </mat-form-field>
                <div style="display: flex; align-items: center; justify-content: space-evenly;">
                    <mat-form-field class="example-full-width">
                        <mat-label>When we starts?</mat-label>
                        <input matInput [matDatepicker]="startPicker" formControlName="taskStart" name="taskStart"
                            required>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="startPicker">
                            <mat-icon matDatepickerToggleIcon><fa-icon [icon]="arrow"></fa-icon></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Hour</mat-label>
                        <input matNativeControl type="time" formControlName="taskTime" name="reminderTime">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>When we ends?</mat-label>
                        <input matInput [matDatepicker]="endPicker" formControlName="taskEnd" name="taskEnd">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="endPicker">
                            <mat-icon matDatepickerToggleIcon><fa-icon [icon]="arrow"></fa-icon></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div style="float: none;"></div>
                <div>
                    <mat-form-field style="float: left; width: 33%;">
                        <mat-label>Select category</mat-label>
                        <mat-select [formControl]="categoriesSelectedValues" required>
                            <mat-option *ngFor="let value of categoriesEnumsValues" [value]="value" id="taskCategory"
                                name="taskCategory">{{ value }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="categoryControl.hasError('required')">Choose category</mat-error>
                    </mat-form-field>
                    <mat-form-field style="float: left; width: 33%;">
                        <mat-label>Select state</mat-label>
                        <mat-select [formControl]="statesSelectedValues" required>
                            <mat-option *ngFor="let value of statesEnumsValues" [value]="value" id="taskState"
                                name="taskState">{{
                                value }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="stateControl.hasError('required')">Choose state</mat-error>
                    </mat-form-field>
                    <mat-form-field style="float: left; width: 33%;">
                        <mat-label>Select priority</mat-label>
                        <mat-select [formControl]="prioritiesSelectedValues" required>
                            <mat-option *ngFor="let value of prioritiesEnumsValues" [value]="value" id="taskPriority"
                                name="taskPriority">{{ value }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="priorityControl.hasError('required')">Choose priority</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <mat-label>Leave a note</mat-label>
                        <textarea matInput formControlName="taskNote" name="taskNote"
                            placeholder="Enter the note"></textarea>
                    </mat-form-field>
                </div>
                <div style="display: flex; align-items: center; justify-content: space-evenly; float: none;">
                    <mat-form-field style="float: left; width: 33%;">
                        <mat-label>Select task type</mat-label>
                        <mat-select [formControl]="typeSelectedValues" [disabled]="disableReminding.value || false"
                            required>
                            <mat-option *ngFor="let value of typeEnumsValues" [value]="value" id="taskType"
                                name="taskType">{{ value }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="typeControl.hasError('required')">Choose task type</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-success" type="submit" style="width: 45%; display: inline-block;">Create</button>
            </div>
        </form>
    </div>
</main>