<!-- <app-side-bar></app-side-bar> -->
<main>
    <div class="col-md-6 offset-md-3">
        <h3>Update task</h3>
        <form (ngSubmit)="ngSubmit()">
            <div class="form-group">
                <label for="name">{{ nameName }}</label>
                <input type="text" class="form-control" id="task-name" [(ngModel)]="task.name" name="task-name" />
            </div>
            <div class="form-group">
                <label for="userID">{{ userIdName }}</label>
                <input type="text" class="form-control" id="task-userId" [(ngModel)]="task.userId" name="task-userId" />
            </div>
            <div class="form-group">
                <label for="startDate">{{ startDateName }}</label>
                <input type="datetime-local" class="form-control" id="task-start-date" [(ngModel)]="task.dateAdded"
                    name="task-start-date" />
            </div>
            <div class="form-group">
                <label for="endDate">{{ endDateName }}</label>
                <input type="datetime-local" class="form-control" id="task-end-date" [(ngModel)]="task.taskDate"
                    name="task-end-date" />
            </div>
            <div class="form-group">
                <label for="state">{{ stateName }}</label>
                <select [formControl]="statusSelectedValues">
                    <option *ngFor="let value of statusValues" [value]="value" id="task-state" name="task-status">
                        {{ value }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority">{{ priorityName }}</label>
                <select [formControl]="prioritiesSelectedValues">
                    <option *ngFor="let value of prioritiesValues" [value]="value" id="task-priority"
                        name="task-priority">
                        {{ value }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">{{ categoryName }}</label>
                <select [formControl]="categoriesSelectedValues">
                    <option *ngFor="let value of categoriesValues" [value]="value" id="task-category"
                        name="task-category">
                        {{ value }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="note">{{ noteName }}</label>
                <input type="text" class="form-control" id="task-note" [(ngModel)]="task.note" name="task-note" />
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</main>